@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prueba programada </h1>
    <p class="lead">
        En la empresa "Super Zapatos" ocupan realizar una aplicación web para llevar el control de inventario del calzado disponible en su zapatería.
        Dada esta necesidad, los expertos de tecnología de la empresa consideraron que la mejor opción sería hacer una aplicación ASP.Net utilizando MVC.
        El cliente desea que las paginas se ajusten al dispositivo que la está mostrando (Mobil, Tablet, PC).
        Esta se encargara de mostrar la información y un backend enviara la información a la base de datos, mediante servicios web. 
        Además esta aplicación debería de permitir a los administradores de la empresa poder agregar la información en la base de datos.
    </p>
    
</div>
